h1 {
  color: brown;
  font-size: 200%;
}

h2 {
  color: brown;
  font-size: 150%;
}


p {
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: orange;
  width: 1000px;
  min-height: 400px;
  padding: 20px;
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  font-size: 20px;
}
